# Read by cpplint itself, which ament_cpplint offers no way to pass filters to.
# Nothing in this repository carries a licence header, so the check that
# demands one is off; the rest of cpplint runs.
filter=-legal/copyright
